<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/map"><i class="fa fa-circle-o"></i> Map</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/stations"><i class="fa fa-circle-o"></i> Stations</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/equipments"><i class="fa fa-circle-o"></i> Equipments</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/jobcards"><i class="fa fa-circle-o"></i> Job Cards</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Assets</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/asset"><i class="fa fa-circle-o"></i> Asset</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Plants</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Boreholes</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Vehicles</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-laptop"></i>
                <span>Inventory</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/spares"><i class="fa fa-circle-o"></i> Spares</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Plant Equipment</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Borehole Equipment</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Vehicle Spares</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-edit"></i> <span>Work Orders</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Work Orders</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Service Requests</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Unique Requests</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Analytics</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Dams Analytics</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Plant Analytics</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Borehole Analytics</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Vehicle Analytics</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Settings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/catchment"><i class="fa fa-circle-o"></i>Stations</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Plant Settings</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Borehole Settings</a></li>
                <li><a href="/catchment"><i class="fa fa-circle-o"></i> Vehicle Settings</a></li>
            </ul>
        </li>

    </ul>
</section>
<!-- /.sidebar -->